<!DOCTYPE html>
<html>
  <head>
    <title>ClassRoster</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    Yo man I put all than random ish in here. Word up
    <h1> I rule </h1
  </body>
</html>
